@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, canvas {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #fff7e7;
}

.player-one {
  max-height: 631px;
}

.player-two {
  max-height: 631px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 48px);
  grid-template-rows: repeat(10, 48px);
  position: relative;
  gap: 1px;
  border: 1px solid #0066cc;
}


.cell {
  position: relative;
  width: 48px;
  height: 48px;
  outline: 0.5px dashed #0066cc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell.hover {
  background-color: rgba(0, 128, 255, 0.3);
  --ship-length: 1; /* Default ship length (in case it's not set dynamically) */
  width: calc(100% * var(--ship-length)); /* Dynamically change width based on ship length */
  transition: background-color 0.3s ease; /* Optional smooth transition */
}

.drag-drop-ships-container img {
  cursor: grab;
  margin: 5px;
}

.drag-drop-ships-container img:active {
  cursor: grabbing;
}


img, .ship-container.horizontal {
  height: 3rem;
}

img, .ship-container.vertical {
  height: 3rem;
}

.ship-container {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.ship-container.horizontal {
  grid-column: span var(--ship-length);
  grid-row: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ship-container.vertical {
  grid-row: span var(--ship-length);
  grid-column: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.ship-svg {
  width: 100%;
  height: 100%;
}

#opponent-game-board .cell:hover {
  outline: 2px solid red;
  opacity: 50%;
}

.ship {
  background-color: #2f4f4f;
}

.hit {
  background-color: red;
}

.miss {
  background-color: #d3d3d3;
}

.sunk {
  background-color: #4f80ea;
  opacity: 0.2;
}

.drag-drop-ships-container {
  max-width: 491px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /*gap: 1rem;*/
}

.carrier {
  /*width: 244px;*/
  width: 5rem;
}

.battleship {
 /*width: 192px;*/
 width: 5rem;
}

.destroyer {
  /*width: 146px;*/
  width: 5rem;
}

.submarine {
  /*width: 144px;*/
  width: 5rem;
}

.patrol-boat {
  /*width: 97px;*/
  width: 5rem;
}

@media only screen and (max-width: 600px) {
  .gameboard-containers {
    flex-direction: column;
    gap: 2rem;
  }

  .board {
    grid-template-columns: repeat(10, 36px);
  }

  .cell {
    width: 36px;
    height: 36px;
  }
}
